#!/usr/bin/env bash
ts=$(date -u +%Y%m%d-%H%M%S)
if [ -z "$1" ]; then
  log=/home/stack/mccloud/log/099-deploy4-${ts}.log
else
  log="$1/099-deploy4-${ts}.log"
fi
date -u >> ${log}

# Ensure Nodes Pinned Correctly
{ time /home/stack/mccloud/pin.py /home/stack/templates/pin/deploy4-pin.yaml 2>&1 | tee -a ${log} ; } 2>> ${log}

date -u >> ${log}

{%if version >= 12 %}
# Pike(12)/Queens(13) Docker Containers Deployment (w/ scheduler-hints.yaml, docker_registry.yaml)
{ time openstack overcloud deploy --templates /usr/share/openstack-tripleo-heat-templates/ -r /home/stack/templates/roles_data.objectstorage.yaml -e /home/stack/templates/scheduler-hints.yaml -e /usr/share/openstack-tripleo-heat-templates/environments/docker.yaml -e /usr/share/openstack-tripleo-heat-templates/environments/docker-ha.yaml -e /usr/share/openstack-tripleo-heat-templates/environments/network-isolation.yaml -e /home/stack/templates/network-environment.yaml -e /home/stack/templates/docker_registry.yaml -e /home/stack/templates/deploy4.yaml --ntp-server {{ntp_server}} 2>&1 | tee -a ${log} ; } 2>> ${log}
{% else %}
# Newton(10)/Ocata(11) Deploy (w/ scheduler-hints.yaml)
{ time openstack overcloud deploy --templates /usr/share/openstack-tripleo-heat-templates/ -r /home/stack/templates/roles_data.objectstorage.yaml -e /home/stack/templates/scheduler-hints.yaml -e /usr/share/openstack-tripleo-heat-templates/environments/network-isolation.yaml -e /home/stack/templates/network-environment.yaml -e /home/stack/templates/deploy4.yaml --ntp-server {{ntp_server}} 2>&1 | tee -a ${log} ; } 2>> ${log}
{% endif %}

date -u >> ${log}

# Make sure to fail if Overcloud Deployed is not found:
grep -q -i "Overcloud Deployed" ${log}
