#!/usr/bin/env bash
ts=$(date -u +%Y%m%d-%H%M%S)
date -u >> /home/stack/log/099-deploy5-${ts}.log

# Ensure Nodes Pinned Correctly
{ time /home/stack/pin.py /home/stack/pin-definitions/deploy5-pin.yaml 2>&1 | tee -a /home/stack/log/099-deploy5-${ts}.log ; } 2>> /home/stack/log/099-deploy5-${ts}.log

date -u >> /home/stack/log/099-deploy5-${ts}.log

{%if version >= 12 %}
# Pike(12)/Queens(13) Docker Containers Deployment (w/ scheduler-hints.yaml, docker_registry.yaml)
{ time openstack overcloud deploy --templates /usr/share/openstack-tripleo-heat-templates/ -e /home/stack/templates/scheduler-hints.yaml -e /usr/share/openstack-tripleo-heat-templates/environments/docker.yaml -e /usr/share/openstack-tripleo-heat-templates/environments/docker-ha.yaml -e /usr/share/openstack-tripleo-heat-templates/environments/network-isolation.yaml -e /home/stack/templates/network-environment.yaml -e /home/stack/docker_registry.yaml -e /home/stack/templates/deploy5.yaml --ntp-server {{ntp_server}} 2>&1 | tee -a /home/stack/log/099-deploy5-${ts}.log ; } 2>> /home/stack/log/099-deploy5-${ts}.log
{% else %}
# Newton(10)/Ocata(11) Deploy (w/ scheduler-hints.yaml)
{ time openstack overcloud deploy --templates /usr/share/openstack-tripleo-heat-templates/ -e /home/stack/templates/scheduler-hints.yaml -e /usr/share/openstack-tripleo-heat-templates/environments/network-isolation.yaml -e /home/stack/templates/network-environment.yaml -e /home/stack/templates/deploy5.yaml --ntp-server {{ntp_server}} 2>&1 | tee -a /home/stack/log/099-deploy5-${ts}.log ; } 2>> /home/stack/log/099-deploy5-${ts}.log
{% endif %}

date -u >> /home/stack/log/099-deploy5-${ts}.log

# Make sure to fail if Overcloud Deployed is not found:
grep -q -i "Overcloud Deployed" /home/stack/log/099-deploy5-${ts}.log
