parameter_defaults:
  DockerInsecureRegistryAddress: 192.168.24.1:8787
  DnsServers: ["{{dns_server}}"]

  # 3 Controllers / X Computes
  ControllerCount: 3
  NetworkerCount: 0
  CephStorageCount: 0
  ObjectStorageCount: 0
  BlockStorageCount: 0
  ComputeCount: {{ComputeCount}}
  ComputeHCICount: 0
