parameter_defaults:
  DockerInsecureRegistryAddress: 192.168.24.1:8787
  DnsServers: ["{{dns_server}}"]

  # 3 Controllers / 4 ComputeHCIs
  ControllerCount: 3
  NetworkerCount: 0
  CephStorageCount: 0
  ObjectStorageCount: 0
  BlockStorageCount: 0
  ComputeCount: 0
  ComputeHCICount: 4

  #CinderLVMLoopDeviceSize: 151000

  SwiftMountCheck: true
  SwiftUseLocalDir: false
  SwiftRawDisks: {"sdb": {}}
