parameter_defaults:
  DockerInsecureRegistryAddress: 192.168.24.1:8787
  DnsServers: ["{{dns_server}}"]

  # 1 Controller / 6 ComputeHCIs
  ControllerCount: 1
  NetworkerCount: 0
  CephStorageCount: 0
  ObjectStorageCount: 0
  BlockStorageCount: 0
  ComputeCount: 0
  ComputeHCICount: 6

  #CinderLVMLoopDeviceSize: 151000

  SwiftMountCheck: true
  SwiftUseLocalDir: false
  SwiftRawDisks: {"sdb": {}}
