parameter_defaults:
  DockerInsecureRegistryAddress: 192.168.24.1:8787
  DnsServers: ["{{dns_server}}"]

  # 1 Controller / 3 ObjectStorage Nodes, 3 Computes
  ControllerCount: 1
  NetworkerCount: 0
  CephStorageCount: 0
  ObjectStorageCount: 3
  BlockStorageCount: 0
  ComputeCount: 3
  ComputeHCICount: 0

  SwiftMountCheck: true
  SwiftUseLocalDir: false
  SwiftRawDisks: {"sdb": {}}
