parameter_defaults:
  ControllerSchedulerHints:
    'capabilities:node': 'controller-%index%'
  NetworkerSchedulerHints:
    'capabilities:node': 'networker-%index%'
{% if version == 10 or version == 11 %}
  NovaComputeSchedulerHints:
    'capabilities:node': 'novacompute-%index%'
{% else %}
  ComputeSchedulerHints:
    'capabilities:node': 'novacompute-%index%'
{% endif %}
  ComputeHCISchedulerHints:
    'capabilities:node': 'computehci-%index%'
  BlockStorageSchedulerHints:
    'capabilities:node': 'blockstorage-%index%'
  ObjectStorageSchedulerHints:
    'capabilities:node': 'objectstorage-%index%'
  CephStorageSchedulerHints:
    'capabilities:node': 'cephstorage-%index%'
